@use '../../../../static/scss/vars';
@use '../../../../static/scss/mixin';

.dashboard-info {
    font-weight: 600;
    border: 1px solid;
    max-width: 50%;
    margin: 1%;
    position: relative;
    text-align: center;

    &_title {
        padding: 2%;
        border-bottom: 1px solid;
        font-weight: bold;
    }

    &_data {
        padding: 2%;
        background-color: white;
        color: vars.$red-color;
    }

    &_button {
        @include mixin.desktop {
            position: absolute;
        }
        padding: 1%;
        right: 0%;
        top: 0%;
    }

    &_form, &_form>fieldset {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
        align-items: center;
        &>* {
            min-width: 60%;
        }
    }
}