@use '../../../static/scss/vars';

.bookmini {
    box-shadow: 1px  1px 5px vars.$red-color;
    border-radius: 20px;
    text-align: center;
    line-height: 1.4;
    height: 500px;
    width: 250px;
    overflow: hidden;

        &__img {
            height: 60%;
            margin-top: 10px;
            object-fit: contain;
            box-shadow: 5px 5px 20px black;
        }

        &__title {
            font-weight: 500;
        }

        &__infos {
            display: flex;
            flex: wrap;
            flex-direction: column;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__note {
            font-size: 25px;
            color: vars.$red-color;
        }

        &__booleans {
            display: flex;
            justify-content: space-around;
        }

        & div {
            width: 100%;
        }
}





