@use '../../../static/scss/mixin';

.library {
    display: flex;
    flex-direction: column;

    @include mixin.desktop {
        flex-direction: row;
    }

    &__book-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        gap: 20px;
    }
}