<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/scss/index.scss">
  <!-- <link rel="icon shortcut" href="/img/favicon.ico" type="image/x-icon"> -->
  <script src="/index.js" type="module" defer></script>
</head>

<header>
    <a href="/"><img src="/img/logo" alt="logo Blablabook - retour à l'accueil">BlaBlaBook</a>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/about">A propos</a></li>
            <li><a href="/questions">Foire aux questions</a></li>
            <li><a href="/library">Rechercher un livre</a></li>
            <li><a href="/personnalLibrary">Ma bibliothèque</a></li>
            <li><a href="/login">Connexion</a></li>
            <li><a href="/dashboard">Mon compte</a></li>
            <li><a href="/logout">Déconnexion</a></li>
        </ul>
    </nav>
</header>