<h1>Connexion</h1>

<form action="/login" method="POST">
  <label>Email</label>
  <input type="email" name="email" required />

  <label>Mot de passe</label>
  <input type="password" name="mot_de_passe" required />

  <button type="submit">Se connecter</button>
</form>
