@use './mixin';
@use './font';
@use './vars';

/* Je prépare le terrain

Mobile

32 px - Bold - Titre du site BlaBlaBook Header
24 px - Bold - Titre H1
20 px - Bold - Titre H2
16px - Semi-Bold (600) - Navigation Footer
15 px - Bold - Texte petit bouton
20 px - Bold - Texte gros bouton

Desktop

40 px - Semi-Bold (600) - Titre du site BlaBlaBook
32 px - Bold - Titre H1
20 px - Semi-Bold (600) - Titre H2
16px - Semi-Bold (600) - Navigation Header- navigation Footer
15 px - Bold - Texte petit bouton
24 px - Bold - Texte gros bouton
*/

/* Je met mes variables aux éléments que j'ai besoin pour faire ma mise en page de mon site */

body {
    font-family: font.$font-text;
    font-size: 15px;
    background-color: vars.$cream-color;
}

main {
    margin: 2%;
    line-height: 1.2;
    color: vars.$red-color;
    max-width: 1200px;
}

/* Logo du site */

.logo {
    background-color: vars.$cream-color;
}

/* je vais partir sur le main maintenant */

h1 {
    font-size: 24px;
    font-weight: bold;
    color: vars.$brown-color;
    text-align: center;
    margin: 2%;

    @include mixin.desktop{
        font-size: 32px;
    }
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    color: vars.$brown-color;

    @include mixin.desktop{
        font-size: 24px;
    }
}

button {
    color: vars.$cream-color;
    background-color: vars.$blue-color;
    padding: 0.7%;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 20px -5px black;
    &:hover {
        text-shadow: 0px 0px 20px black;
    }
}

.button {
    &_small {
        font-weight: bold;
    }

    &_big {
        font-size: 20px;
        font-weight: bold;
    
        @include mixin.desktop{
            font-size: 24px;
        }
    }
}

.hidden {
    display: none;
}