.register {
    &__form {
        display: flex;
        flex-direction: column;

        &>* {
            margin-top: 2%;
            display: flex;
            flex-direction: column;
        }

        &__checkbox {
            flex-direction: row;
        }

        &>button {
            margin-left: 0%;
            width: 100%;
            align-content: center;
        }
    }
}